.Wrapper {
  display: flex;
  direction: ltr;
  // padding: 12px;
  padding: 4px;
  align-items: center;
}

.IconWrapper {
  width: 14px;
  height: 14px;
  padding: 15px;
  background-color: #13c2c2;
  border-radius: 50%;
  cursor: pointer;
}

.Icon {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/ui/play.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.Pause {
  background-image: url("../../assets/ui/pause.svg");
}

.ProgressWrapper {
  margin-left: 14px;
}

.ProgressContainer {
  position: absolute;
  z-index: 3;
  cursor: pointer;
  width: 180px;
}

.Progress {
  width: 180px;
  position: relative;
  height: 2px;
  background: #caddd9;
  margin: 10px 0;
}

.ActiveProgress {
  width: 0;
  background-color: #13c2c2;
}

.ProgressThumb {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #13c2c2;
  border-radius: 50%;
  transform: translate(50%, -40%);
  right: 0;
}

.Time {
  color: #6d7483;
  font-size: 12px;
}
