.messageWrapper {
  width: 100%;
  direction: ltr;
}

.sendByMeWrapper {
  direction: rtl;
}

.messageContainer {
  max-width: 80%;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.message {
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px 15px 0px;
  padding: 4px;
  background-color: var(--color-neutrals-n-20);
  box-sizing: border-box;
  position: relative;
  transform: translateX(6px);
  margin-bottom: 10px;
  font-size: 14px;
  direction: rtl;
  color: var(--color-neutrals-n-500);
}

.sendByMeMessage {
  border-radius: 15px 15px 0 15px;
  transform: translateX(-6px);
  background-color: var(--color-bubble-out-primary);
}

.message > * {
  z-index: 2;
}

.ImageContainer {
  position: relative;
}

.ImageContainer > img {
  max-width: 310px;
  border-radius: 15px;
}

.message > p {
  margin: 0;
  padding: 4px;
}

.Bubble {
  position: absolute;
  bottom: 0;
  left: -6px;
  fill: var(--color-neutrals-n-20);
  z-index: 0;
}

.sendByMeBubble {
  right: -6px !important;
  transform: scale(-1, 1);
  fill: var(--color-bubble-out-primary);
}

.Play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
